body {
  background-color: rgb(250, 245, 245);
}
main {
  background-color: rgb(246, 246, 246);
  width: 70%;
  margin: auto;
  height: 500px;
  border-radius: 15px;
  display: flex;
  border-radius: 2px;
  margin-top: 100px;
}

.trai {
  width: 56%;
  background-color: rgb(243, 238, 237);
  height: 100%;
}
.trai img {
  width: 300px;
  height: 350px;
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  margin: 70px 0px 0px 150px;
}
.trai a {
  color: black;
  font-size: 20px;
  margin: 50px 0px 0px 220px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.phai {
  width: 44%;
  background-color: thistle;
  height: 100%;
}
.tieude {
  margin-left: 10px;
  font-size: 30px;
}
.nhap {
  margin: 20px 20px 20px 10px;
  gap: 30px;
  border-radius: 15px;
}
.mk {
  margin: 20px 20px 20px 20px;
  width: 70%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background: transparent;
}
.login {
  background-color: rgb(191, 124, 218);
  width: 100px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  padding: 10px;
  color: white;
}

.cuoi {
  display: flex;
  gap: 20px;
  margin: 66px 0px 0px 10px;
  font-size: 17px;
}
.icon {
  padding: 7px;
}
.icon1 {
  background-color: rgb(157, 157, 228);
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.icon2 {
  background-color: rgb(184, 184, 233);
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.icon3 {
  background-color: rgb(224, 51, 35);
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
/*
.pro {
  position: relative;
  width: 350px;
  margin-left: 10px;
}
input {
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
}
.text {
  color: rgb(89, 88, 88);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
input:focus ~ .text {
  top: -20px;
  font-size: 14px;
  color: rgb(231, 102, 102);
}
input:focus {
  border-bottom-color: rgb(231, 102, 102);
}
*/
