body {
  background-color: rgb(13, 14, 14);
}
header {
  background-color: black;
  width: 100%;
  height: 10vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 75%;
  margin: auto;
}
nav img {
  width: 130px;
  height: 80px;
  margin: 0px 0px 0px -50px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
nav li {
  padding: 0px;
  margin: 0px 20px;
}

nav select {
  color: white;
  background-color: black;
  border-color: black;
  font-size: 22px;
}
a {
  text-decoration: none;
  color: white;
}

.chucnang {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
.icon {
  color: white;
  font-size: 25px;
}
.muagoi {
  padding: 10px 25px;
  border-radius: 10px;
  color: white;
  background-color: rgb(239, 103, 18);
}
.log {
  border: 2px solid rgb(181, 180, 195);
  padding: 10px 25px;
  border-radius: 15px;
  color: white;
  background-color: rgb(38, 79, 115);
}

main {
  width: 75%;
  background-color: rgb(13, 14, 14);
  height: 1000px; /*có height thì mới cuộn overflow được*/
  margin: auto;
  overflow: scroll;
  scrollbar-width: none;
}
.khoianhchay {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  border-radius: 15px;
}
.anhchayngang {
  display: flex;
  width: calc(1320px * 4);
  height: 600px;
  gap: 10px;
  animation: slide 10s infinite;
} /* infinite: chạy từng phần
linear infinite:chạy liên tục như băng chuyền*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1320px);
  }
  40% {
    transform: translateX(-2640px);
  }
  60% {
    transform: translateX(-3960px);
  }
  80% {
    transform: translateX(-5280px);
  }
  100% {
    transform: translateX(0);
  }
}

main img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}
.tieude {
  color: white;
  font-size: 30px;
}
.khoi1 {
  display: flex;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
  color: white;
  text-align: left;
  font-size: larger;
}
.khoi1 img {
  width: 250px;
  height: 400px;
}
.khoi2 {
  display: flex;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
  color: white;
  text-align: left;
  font-size: larger;
}
.khoi2 img {
  width: 450px;
  height: 220px;
}
.khoi3 {
  display: flex;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
  color: white;
  text-align: left;
  font-size: larger;
}
.khoi3 img {
  width: 240px;
  height: 130px;
}

.khoi4 {
  display: flex;
  gap: 20px;
  overflow: scroll;
}
.danhmuc1 {
  background-color: rgb(169, 233, 233);
  height: 100px;
  width: 440px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.danhmuc2 {
  background-color: rgb(233, 169, 192);
  height: 100px;
  width: 140px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.danhmuc3 {
  background-color: rgb(196, 239, 175);
  height: 100px;
  width: 140px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
footer {
  background-color: rgb(13, 13, 14);
  width: 75%;
  height: 500px;
  margin: auto;
}
.foot {
  margin-top: 150px;
  color: white;
}
.foot1 {
  border-top: 2px solid #f1f1f2;
  display: flex;
  gap: 90px;
  font-size: larger;
}
.foot1 img {
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 120px;
  display: flex;
  margin: 10px 100px 10px 0px;
}
.foot1 a {
  text-decoration: none;

  color: rgb(209, 207, 207);
}
.foot2 {
  border-top: 2px solid #f1f1f2;
  font-size: larger;
}
